/* font-family: 'Kumbh Sans', sans-serif; */

.attribution {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

*{
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    background-color: hsl(185, 75%, 39%);
    margin: 0px;
    padding: 15px;
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -5vw -50vh, 45vw 45vh;
}

@media only screen and (max-width: 900px) {
    body {
        background-position: -200vw -80vh, 45vw 45vh;
    }
  }

.mainContainer {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-width: 375px;
    text-align: center;
    overflow: hidden;
}

.top {
    height: 140px;
    background-image: url("../images/bg-pattern-card.svg");
    background-size: cover;
}

.bioDisplay{
    background-color: white;
    position:relative
}

.profilePicture {
    display: block;
    border: 5px solid white;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -30px;
    position: relative;
    transform: translateY(-50%);
}

.darkText {
    font-weight: 700;
    margin: 0px;
    color: hsl(229, 23%, 23%);
}

.lightText {
    font-weight: 400;
    color: hsl(227, 10%, 46%)
}

.name {
    font-size: 18px;
}

.city {
    margin-bottom: 30px;
    font-size: 0.8em;
}

.kpi {
    margin-top: 10px;
    font-size: 0.6em;
}

.socialContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 30px 30px;
}

.socialDisplay {
    background-color: white;
    display: inline-block;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
}